# sudo:false and dist:trusty uses faster build environment
sudo: false
language: java
jdk: openjdk8
os: linux
dist: trusty

cache:
  directories:
    # cache Maven dependencies
    - $HOME/.m2

# run these commands for build/test
script:
  - mvn test --batch-mode
  - mvn checkstyle:check --batch-mode

# email notifications
notifications:
  email: false
