################################################################
#
# This is the default configuration file of Kitodo Mediaserver
#
# DO NOT MAKE ANY LOCAL CHANGES TO THIS FILE!
#
# You can override all configurations in this file in local.yml
#
#################################################################

spring:
  datasource:
    url: jdbc:mysql://localhost/mediaserver?autoReconnect=true&useSSL=false
    username: kitodo
    password: kitodo
  main:
    banner-mode: "off"

logging:
  level:
    org.springframework: ERROR
    com.zaxxer.hikari: WARN
    org.hibernate: WARN
    org.kitodo: INFO
  pattern:
    console:
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n"
  path: /usr/local/kitodo/mediaserver/

fileserver:
  filePathPattern: /files/{workId}/**
  caching: false
  cachePath: /tmp

conversion:
  jpeg:
    defaultSize: 1000
  useGraphicsMagick: true
  pathExtractionPatterns:
    - .*/jpeg/(max|min|thumb|default)/.*
    - .*/jpeg/(150|600|1000|2000)/.*

mets:
  originalFileGrpSuffix: ORIGINAL


importer:
  hotfolderPath: /usr/local/kitodo/mediaserver/hotfolder/
  importingFolderPath: /usr/local/kitodo/mediaserver/importing/
  errorFolderPath: /usr/local/kitodo/mediaserver/import_error/
  workIdRegex: \w+
  validationFileGrps:
  - ORIGINAL


ui:
  pagination:
    elementsPerPage:

      # Number of elements shown on a page
      #defaultValue: 20

      # Number of elements that are available in the dropdown field
      availableValues:
      - 5
      - 10
      - 20
      - 50
      - 100
      - 200

  works:

    # Which data base fields are searchable by "field:pattern" in the UI's search field
    searchableFields:
      - id
      - identifier
      - title
      - enabled

    # When disabling a work wether to reduce the METS/MODS file. Default value
    reduceMets: true
