################################################################
#
# This is the default configuration file of Kitodo Mediaserver
#
# DO NOT MAKE ANY LOCAL CHANGES TO THIS FILE!
#
# You can override all configurations in this file in local.yml
#
#################################################################

spring:
  datasource:
    url: jdbc:mysql://localhost/mediaserver?autoReconnect=true&useSSL=false
    username: kitodo
    password: kitodo
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL57Dialect
  main:
    banner-mode: "off"
  mail:
    host: localhost
    port: 25
    username:
    password:
    smtp:
      auth: false
      starttls:
        enable: false
        required: false

logging:
  level:
    org.springframework: WARN
    com.zaxxer.hikari: WARN
    org.hibernate: WARN
    org.kitodo: INFO
  pattern:
    console:
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n"
  path: /usr/local/kitodo/mediaserver/

notifier:
  emailFrom: "kitodo@example.org"
  timestampFormat: "yyyy-MM-dd HH:mm:ss"
  # Recipients are set in the modules via <notificationEmail>

fileserver:
  rootUrl: https://example.com/files/
  filePathPattern: /files/{workId}/**
  caching: false
  cachePath: /tmp
  convertAction: awtPdfboxSingleFileConvertAction
  cacheClearCron: "0 3 * * * *"
  cacheClearSince: 2592000 # 30 days
  allowedNetworks:
    global: 0.0.0.0/0,::/0
    disabled: 0.0.0.0/32,::/128
  errorNotificationEmail:
  disabledWorkImagePath:

conversion:
  pdf:
    defaultSize: 2500
    addOcrText: true
  jpeg:
    defaultSize: 1000
  useGraphicsMagick: false
  pathExtractionPatterns:
    - .*/jpeg/(max|min|thumb|default)/.*
    - .*/jpeg/(150|600|1000|2000)/.*

  watermark:
    enabled: true
    minSize: 600
    renderMode: text
    gravity: "southwest"
    offsetX: 25
    offsetY: 0
    textMode:
      content: "Example Text"
      font: "Arial"
      colorRGB: "34,65,255"
      size: 16
    imageMode:
      path: /srv/kitodo/assets/watermark.png
      opacity: 75
    extendCanvas:
      enabled: false
      backgroundColorRGB: "0,0,0"
      addX: 0
      addY: 25

mets:
  originalFileGrp: ORIGINAL
  fulltextFileGrp: FULLTEXT
  downloadFileGrp: DOWNLOAD
  workLockReduceMetsXsl: xslt/reduceMets.xsl
  anchorSuffix: _anchor

indexing:
  indexScriptUrl: https://example.com/indexWork.php
  indexScriptMetsUrlArgName: doc

doi:
  dataCiteURL: https://mds.test.datacite.org/doi/
  dataCiteUser: nobody
  dataCitePassword: secret
  doiLandingPagePattern: https://digital.example.com/works/{workId}
  doiDataReaderXsl: xslt/getDoiFromMets.xsl

importer:
  hotfolderPath: /usr/local/kitodo/mediaserver/hotfolder/
  importingFolderPath: /usr/local/kitodo/mediaserver/importing/
  tempWorkFolderPath: /usr/local/kitodo/mediaserver/import_temp/
  errorFolderPath: /usr/local/kitodo/mediaserver/import_error/
  workFilesPath: /usr/local/kitodo/mediaserver/files/
  workDataReaderXsl: xslt/getWorkData.xsl
  fileUrlReaderXsl: xslt/getPathsFromGivenFileGrp.xsl
  workIdRegex: "[\\w-]+"
  cron: 0 5 2 * * *
  indexWorkAfterImport: true
  validationFileGrps:
    - ORIGINAL
  errorNotificationEmail:
  reportNotificationEmail:

  actionsBeforeIndexing:
  actionsAfterSuccessfulIndexing:
  actionsToRequestAsynchronously:

cli:
  performActions:
    continueOnError: false
    cron: "0 5 * * * *"

ui:
  pagination:
    elementsPerPage:
      availableValues:
      - 5
      - 10
      - 20
      - 50
      - 100
      - 200
  works:
    searchableFields:
      - id
      - title
      - allowedNetwork
      - hostId
      - collection
    reduceMets: true
    actions:
      cacheclear:
        label: Clear derivatives cache
        action: cacheDeleteAction
        enabled: true
        parameters:
      reindex:
        label: Reindex in Viewer
        action: viewerIndexingAction
        enabled: true
        parameters:
